// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// colors
$color-primary: #4a99d3;
$color-secondary: #f85e9f;
$color-tertiary: #191825;
<<<<<<< HEAD
$color-quaternary: rgba(74, 153, 211, 0.1);
$color-quinary: #0f001a;
=======
$color-quaternary: #4a99d319;
>>>>>>> 0aa85ea71cb3f8286fe532531f2dbf33a49050fd
