// fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// colors
$color-primary: #4a99d3;
$color-secondary: #f85e9f;
$color-tertiary: #191825;
$color-quaternary: #4a99d319;
$color-quinary: #0f001a;
