@use '../core/variables' as vars;

.footer {
    background-color: #4a99d3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 100px;
    height: 250px;

    &__h2 {
        font-family: vars.$font-main;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
    }

    &__social {
        font-size: 1.6rem;
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    &__nav {
        display: none
    }
}