@use '../core/variables' as vars;

.header__formulario {
    background: linear-gradient(to bottom, #83b9df56, white);
    padding-bottom: 100px;
    font-family: vars.$font-main;

    &__list {
        display: none;
    
        @media (min-width: 768px) {
            display: flex;
            gap: 30px;
            color: #0f001a;
            font-size: 18px;
            padding-right: 50px;
            :hover {
                color: vars.$color-primary;
            }
        }
    }

}

.formulario__caja {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        width: 80vw;
    }
}

.formulario__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario__main {
    box-shadow: 10px 10px 28px 10px  #0000001b;
    border-radius: 10px;
    margin-bottom: 60px;
}

.formulario__h2 {
    font-family: vars.$font-secondary;
    color: vars.$color-primary;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: underline;
}

.formulario__contact {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
    padding-inline: 70px;
    padding-bottom: 50px;

    &-h3 {
        font-family: vars.$font-secondary;
        color: vars.$color-quinary;
        font-size: 20px;
        font-weight: 400;
    }
    
    &-form {
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }

    &-form-box {
        border: 1.5px solid #b4bec8;
        border-radius: 5px;
        height: 40px;
        width: 350px;
    }
    &-form-message {
        border: 1.5px solid #b4bec8;
        border-radius: 5px;
        height: 100px;
        width: 350px;
    }

    &-form-btn {
        background-color: vars.$color-primary;
        color: white;
        border: none;
        font-family: vars.$font-secondary;
        height: 55px;
        border-radius: 5px;
        width: 350px;
        font-size: 20px;
        :hover {
            background-color: vars.$color-secondary;
            font-size: 30px;
        }
    }
}

.formulario__contact-maps {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;

    @media (min-width: 768px) {
    }
    
    &-img {
        width: 90%;
        height: auto;
    }
}