@use '../core/variables' as vars;

.section1 {
    margin-top: 40%; 
    margin-bottom: 14.21%;
}

.section1__h2 {
    font-family: vars.$font-main;
    font-weight: vars.$font-main-weight;
    letter-spacing: 1.8px;
    color: vars.$color-secondary;
    font-size: 2.23rem;
    // width: 88.37%;
    // height: 1.47%;
    // margin-left: 8.84%;
    // margin-right: 2.79%;
    // // margin-bottom: 63.8px; respecto a la imagen de abajo, no la caja del articulo
    // margin-bottom: 11.26%; //respecto a la caja 
}





