@use '../core/variables' as vars;

.section3{
    background-color: vars.$color-sixtary;
    width: 100%;
    margin: 5%;
    height: 100%;
    font-family: vars.$font-main;
     
}
.section3__box1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80% 20%;
    height:500px;
    background-color: white;
    width: 95%;
}
.section3__h2{
color: vars.$color-secondary;
font-size: 1rem;
margin-top: 50px;
margin-bottom: 40px;

}
.section3__p{
    color: vars.$color-secondary;
    margin-left: 52px;
}
.section3__img-product1{
    grid-column: span 2;
    width: 95%;
    height: 95%;
    align-items: center;
}
.section3__h4{
    margin-left: 32px; 
}
.section3__box2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80% 20%;
    height:500px;
    background-color: white;
    width: 95%;
}
.section3__img-product2{
    grid-column: span 2;
    width: 95%;
    height: 95%;
    align-items: center;
 }
 .section3__box3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80% 20%;
    height:500px;
    background-color: white;
    width: 95%;
 }
 .section3__img-product3{
    grid-column: span 2;
    width: 95%;
    height: 95%;
    align-items: center;
 }