@use '../core/variables' as vars;

.section3{
    display: grid;
    justify-content: center;
    gap: 20px;
    font-family: vars.$font-main;
}
.section3__box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80% 20%;
    height: 500px;
    background-color: white;
    width: 350px;
    // width: 95%;
    border-radius: 25px;
   /*  box-shadow: 0 4px 16px 0 #0000002f; */

 
} 


    
    
    




.section3__h2{
    color: vars.$color-secondary;
    font-size: 1rem;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold;

}
.section3__p{
    color: vars.$color-secondary;
    padding-left: 52px;
    padding-top: 20px;
}
.section3__img-product{
    grid-column: span 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; 
    align-items: center;
    object-fit: cover;
}
.section3__h4{
    padding-left: 52px;
    padding-top: 20px;
}
/* .section3__box2{
    display: grid;
    height:500px;
    background-color: white;
    width: 95%;
    border-radius: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80% 20%;
}
.section3__img-product2{
    grid-column: span 2;
    width: 95%;
    height: 95%;
    align-items: center;
 }
 .section3__box3{
    display: grid;
    height:500px;
    background-color: white;
    width: 95%;
    border-radius: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80% 20%;
 }
 .section3__img-product3{
    grid-column: span 2;
    width: 95%;
    height: 95%;
    align-items: center;
 } */

 @media all and (min-width: 768px) {
    
    .section3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*grid-template-rows: 20% 60% 20%;*/
        width: auto;
        height: 700px;
       
    }
.section3__h2{
    grid-column: span 3;
    margin-top: 50px;
    margin-bottom: 40px;
 
}
.section3__p{
  height: 20%;
}
 }