@use '../core/variables' as vars;

.container {
    margin-top: 15%; 
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "titulo imagen2"
            "imagen1 imagen2"
            "imagen1 imagen3"
            ". imagen3";

    } 
}

.section1__h2 {
    font-family: vars.$font-main;
    font-weight: vars.$font-main-weight;
    letter-spacing: 1.8px;
    color: vars.$color-secondary;
    font-size: 2.23rem;
    padding-left: 55px;
    padding-bottom: 80px;
    white-space: normal; /* Texto fluye normalmente */
    word-wrap: break-word; /* Ajusta el texto según el ancho */

    @media (min-width: 768px) {
        padding-left: 220px;
        padding-bottom: 150px;
        grid-area: titulo;
         
    }    
}

.section1__article1 {
    font-family: vars.$font-secondary;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0 rgba(74, 153, 211, 0.2);
    background-color: #fff;
    margin-inline: 50px;
    margin-bottom: 100px;
    padding-bottom: 20px;

    @media (min-width: 768px) {
        grid-area: imagen1;
        margin-inline: 230px;
         
    }  
}

.section1__article2 {
    font-family: vars.$font-secondary;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0 rgba(74, 153, 211, 0.2);
    background-color: #fff;
    margin-inline: 50px;
    margin-bottom: 100px;

    @media (min-width: 768px) {
        grid-area: imagen2;
        margin-right: 230px;
        margin-top: -10px;
         
    }  
}

.section1__article3 {
    font-family: vars.$font-secondary;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0 rgba(74, 153, 211, 0.2);
    background-color: #fff;
    margin-inline: 50px;
    margin-bottom: 100px;

    @media (min-width: 768px) {
        grid-area: imagen3;
        margin-right: 230px;
        margin-top: 100px;

    }
}

.section1__article__image {
    padding-inline: 50px;
    padding-top: 40px;
}

.section1__article__h4 {
    color: vars.$color-quinary;
    font-size: 1.25rem;
    font-weight: 500;
    padding-inline: 50px;
    padding-top: 30px;
    padding-bottom: 4px;
}
.section1__article__text {
    color: vars.$color-quinary;
    font-size: 1rem;
    opacity: 60%;   
    padding-inline: 50px;
    padding-bottom: 30px;
}

.section1__article__button {
    color: vars.$color-primary;
    font-size: 0.875rem;
    font-weight: 500;
    padding-inline: 50px;
    padding-bottom: 20px;

    // .fa-arrow-right {
    //    display: none;
    // }

    // @media (min-width: 768px) {
    //     .fa-arrow-right {
    //         display: inline;
    //         vertical-align: middle;

    //     }
    // }
}









