<footer class="footer">
    <div>
        <div class="footer__h2">
            <h2>AdaShop</h2>
        </div>

        <div class="footer__social">

            <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
        </div>
    </div>

    <nav class="footer__nav">
        <a href="#">Inicio</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
    </nav>

</footer>