<header class="header">
    <nav class="header__nav">
        <h1 class="header__h1">AdaShop</h1>
        <ul class="header__list">
            <li>Home</li>
            <li>Nosotros</li>
            <li>Contáctanos</li>
        </ul>
        <i class="fa-solid fa-bars" style="color: #4a99d3;"></i>
    </nav>
   <div class="hero">
    <section class="header__text">
        <h2 class="header__text-h2">Nueva  App E-commerce best for You</h2>
        <p class="header__text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet sed vulputate vitae velit dictum cursus amet. Turpis donec ut velit quis. Cursus commodo, eget urna, sapien amet.</p>
        <!-- <a href="https://play.google.com/store/games?hl=en" class="button-google">
            <img src="google-play-icon.svg" alt="Google Play Icon" class="google-icon">
            <div class="text">
              <span class="small">GET IT ON</span>
              <span class="large">Google Play</span>
            </div>
          </a> -->
    </section>
    <div>
        <img class="img__mockup" src="./images/Mockup.png" alt="mockup">
    </div>
    </div>
</header>
