<header class="header">
    <nav class="header__nav">
        <h1 class="header__h1">AdaShop</h1>
        <ul class="header__list">
            <li>Home</li>
            <li>Nosotros</li>
            <li>Contáctanos</li>
        </ul>
        <i class="fa-solid fa-bars" style="color: #4a99d3;"></i>
    </nav>
   <div class="hero">
        <section class="header__text">
            <h2 class="header__text-h2">Nueva  App E-commerce best for You</h2>
            <p class="header__text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet sed vulputate vitae velit dictum cursus amet. Turpis donec ut velit quis. Cursus commodo, eget urna, sapien amet.</p>
            <section class="header__buttons">
                <a href="https://play.google.com/store/games?hl=en" class="button__google">
                <img class="button__google-logo" src="./images/google.png" alt="google play">
                <div class="button__google-text">
                <p class="button__google-text-small">GET IT ON</p>
                <p class="button__google-text-large">Google Play</p>
                </div></a>
                <a href="https://www.apple.com/app-store/" class="button__apple">
                <img class="button__apple-logo" src="./images/apple.png" alt="apple logo">
                <div class="button__apple-text">
                <p class="button__apple-text-small">Download on the</p>
                <p class="button__apple-text-large">App Store</p>
                </div></a>
            </section>
        </section>
            <div>
                <img class="img__mockup" src="./images/Mockup.png" alt="mockup">
            </div>
    </div>
</header>
