<main>
    <section class="section2">
        <h3 class="section2__h3">Cómo trabajamos</h3>
        <section class="section2__articles">
        <article class="section2__article">
            <img class="section2__article-icon" src="./images/icon-1.svg" alt="Icono social 1">
            <h4>Crea una cuenta</h4>
            <p>Lorem ipsum, dolor sit amet consectetur.</p>
        </article>
        <article class="section2__article">
            <img class="section2__article-icon" src="./images/icon-2.svg" alt="Icono social 2">
            <h4>Obtén autorización</h4>
            <p>Lorem ipsum, dolor sit amet consectetur.</p>
        </article>
        <article class="section2__article">
            <img class="section2__article-icon" src="./images/icon-3.svg" alt="Icono social 3">
            <h4>Disfruta la app</h4>
            <p>Lorem ipsum, dolor sit amet consectetur.</p>
        </article>
    </section>
    </section>
</main>
