<main class="container">
    <h2 class="section1__h2"> 
        Cómo podemos ayudarte
    </h2>

    <article class="section1__article1"> 
        <img class="section1__article__image" src="/images/3.png" alt="imagen-envío">
        <h4 class="section1__article__h4">
            Envío
        </h4>
        <p class="section1__article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
        </p>
        <p class="section1__article__button">
                Learn more  <i class="fa-solid fa-arrow-right" style="color: #4a99d3;"></i>
        </p>
    </article>
    
    <article class="section1__article2">
        <img class="section1__article__image" src="/images/2.png" alt="imagen-compra">
        <h4 class="section1__article__h4">
            Compra 
        </h4>
        <p class="section1__article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
        </p>
        </p>
        <p class="section1__article__button">
            Learn more  <i class="fa-solid fa-arrow-right" style="color: #4a99d3;"></i>
        </p>
    </article>
    
    <article class="section1__article3">
            
        <img class="section1__article__image" src="/images/1.png" alt="imagen-envío">
        <h4 class="section1__article__h4">
            Recepción
        </h4>
        <p class="section1__article__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
        </p>
        </p>
        <p class="section1__article__button">
            Learn more  <i class="fa-solid fa-arrow-right" style="color: #4a99d3;"></i>
        </p>
    </article>

</main>
