<main>
    <section class="section3">
    <h2 class="section3__h2">TOP PRODUCTOS</h2>

<section class="section3__box1">
    <img class="section3__img-product1" src="./images/5.png" alt="product 1">
    <h4 class="section3__h4">Producto 1</h4>
    <p class="section3__p">€25.16</p>
</section>
<section class="section3__box2">
    <img class="section3__img-product2" src="./images/6.png" alt="Product 2">
    <h4 class="section3__h4">Producto 2</h4>
    <p class="section3__p">€20.99</p>
</section>

<section class="section3__box3">
    <img class="section3__img-product3" src="./images/4.png" alt="Product 3">
    <h4 class="section3__h4">Producto 3</h4>
    <p class="section3__p">€150.9</p>

</section>
</section>
</main>

