<main class="section1">
    <h2 class="section1__h2"> 
        Cómo podemos <br> ayudarte 
    </h2>

    <section class="section1__articles">
        <article class="section1__article">
            
            <img class="section1__article__image" src="/images/3.png" alt="imagen-envío">
            
            <h4 class="section1__article__h4">
                Envío
            </h4>
            <p class="section1__article__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
            </p>
            <p class="section1__article__button">
                Learn more 
            </p>

        </article>
    
        <article class="section1__article">
            
            <img class="section1__article__image" src="/images/2.png" alt="imagen-compra">
            
            <h4 class="section1__article__h4">
                Compra 
            </h4>
            <p class="section1__article__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
            </p>
            <p class="section1__article__button">
                Learn more 
            </p>

        </article>
    
        <article class="section1__article">
            
            <img class="section1__article__image" src="/images/1.png" alt="imagen-envío">

            <h4 class="section1__article__h4">
                Recepción
            </h4>
            <p class="section1__article__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
            </p>
            <p class="section1__article__button">
                Learn more 
            </p>

        </article>

    </section>
  
</main>
