<main class="section1">
    <h2 class="section1__h2">
        Cómo podemos <br> ayudarte
    </h2>

    <section class="section1__articulos">
        <article class="section1__articulo1">
            <div class="section1__imagen1">
                <img src="/images/3.png" alt="imagen-envío">
            </div>
            <h4 class="section1__articulos_titulo">
                Envío
            </h4>
            <p class="section1__articulos_parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
            </p>
            <p class="section1__articulos_boton">
                Learn more 
            </p>
        </article>
    
        <article class="section1__articulo2">
            <div class="section1__imagen2">
                <img src="/images/2.png" alt="imagen-compra">
            </div>
            <h4 class="section1__articulos_titulo">
                Compra 
            </h4>
            <p class="section1__articulos_parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
            </p>
            <p class="section1__articulos_boton">
                Learn more 
            </p>
        </article>
    
        <article class="section1__articulo3">
            <div class="section1__imagen3">
                <img src="/images/1.png" alt="imagen-envío">
            </div>
            <h4 class="section1__articulos_titulo">
                Recepción
            </h4>
            <p class="section1__articulos_parrafo">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, labore et dolore magna aliqua. 
            </p>
            <p class="section1__articulos_boton">
                Learn more 
            </p>
        </article>

    </section>
  
</main>
